<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ViewData["Title"] - MeeCon</title>
    <!-- STYLE -->
    <link rel="stylesheet" href="@Url.Content("~/Views/Styles/style-Layout.css")" asp-append-version="true" />

    <!-- ICONS -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">

</head>
<body>
    
    <nav>
        <div class="container">
            <h2 class="logo">MeeCon</h2>
            <div class="search-bar">
                <i class="uil uil-search"></i>
                <input type="search" placeholder="Search for grups or people" >
            </div>
            <div class="create">
                <label class="btn btn-primary" for="create-post">Create</label>
                <div class="profile-picture">
                    <img src="~/Images/profile-1.jpg" >
                </div>
            </div>
        </div>
    </nav>

    <header>
        
    </header>
    <main role="main">
        @RenderBody() 
    </main>
</body>
</html>
